<!DOCTYPE html>
<html>
<head>
	<title>Sherlocked | Home</title>
	<link rel="stylesheet" href="/static/assets/css/materialize.min.css">
	<link rel="stylesheet" href="/static/assets/css/base.css">
</head>
<body class="white-text" style="background-image:url('/static/assets/q3.jpg');background-attachment:fixed;background-repeat:no-repeat; background-size:contain;">
<header class="center-align">
	<a class="waves-effect waves-light btn orange darken-3 white-text" href="/leaderboard">Leaderboard</a>
	<a class="waves-effect waves-light btn orange darken-3 white-text" href="/description">Rules</a>
	<a class="waves-effect waves-light btn orange darken-3 white-text" href="/mystery">Solve Mystery</a>
	<a class="waves-effect waves-light btn orange darken-3 white-text" href="/logout">Logout</a>
</header>

<div class="">

<div class="col s12 ques-block">
	<span class="flow-text" id="leader" style="font-weight:400; font-size:20px!important;line-height:1.653em;">
	<p>The funds for the annual techfest of JSSATE, Noida, ZEALICON was stolen from the account set for the funding of the same, leaving the organizers in a state of shock. The account was setup basically to store the funds for organizing the events.</p>
<p>A team was set up under the guidance of Detective Aman Agarwal of the cyber cell of the Police department so as to investigate the matter and bring the criminal to justice.</p><p>
The team went to the regional office of the bank so as to check if the bank’s network has any malware installed in it. After an extensive search the team came across a few sophisticated programs of which one was a Trojan. After studying the source code it was discovered that it was written by a notorious Indian hacker whose name was not known till date. The team found out the IP address of the system from where the malware was updated. After searching they found out the place from where the malware had been uploaded.</p><p>
 The team found a suspicious drive connected to the computer from where the malware was copied. On Diagnosis of the Pd, the Pd was found to have contained a Trojan which got installed automatically in the system when the Pd is plugged in it. The Trojan was programmed to get installed on any website’s server when visited from any computer connected to the college server. While checking the camera footage a man of unknown identity was seen inserting Pd in the system. The identity was later confirmed. The team asked for the seller's details from the manufacturing company. On enquiring about the Pd from retail website it was found to have been purchased by some person who claimed to have lost the pd recently. The man who was captured on the camera was tracked down and questioned to which he revealed that he did so under the influence of money. He also told the Police that the name of the person is Rajesh and described to the sketch artist the face of the man.</p><p>
The malware revealed that it was sending all the information to an IP. The IP was tracked to a local establishment. On being asked the owner revealed that he knows nothing about the robbery. On searching the café a device was discovered plugged in a system which created a hotspot. The hotspot was secured and incidentally was being accessed at the current moment. The Police started a manhunt for the person in the nearby areas. The Police Caught the person and from the person’s laptop they found out the evidence linking him to the crime and hence leading him to his apprehension.</p> 
</div>
</div>
<script src="/static/assets/js/materialize.min.js"></script>
</body>
</html>