{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sherlocked | Home</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style_back2.css"%}">

    
    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">

    
    <link href="{% static "css/sb-admin.css"%}" rel="stylesheet">

    
    <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    
    
    
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body>

    <div id="wrapper">

        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sherlocked</a>
            </div>

            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/mystery"><i class="fa fa-fw fa-th-list"></i> Solve Mystery </a>
                    </li>
                    <li>
                        <a href="/leaderboard"><i class="fa fa-fw fa-bar-chart-o"></i> Leaderboard </a>
                    </li>
                    <li>
                        <a href="/description"><i class="fa fa-fw fa-list"></i> Description </a>
                    </li>
                    <li>
                        <a href="/rules"><i class="fa fa-fw fa-edit"></i> Rules </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/zealSherlocked/" target="_blank"><i class="fa fa-fw fa-facebook"></i> Forum </a>
                    </li>
                    <li>
                        <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
        </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                    <div class="heading">
                        <p>About </p>
                    </div>
                    </div>
                </div>
                <br>
                <div class="row">
                <div class="col-md-4">
                <div class="content">
                    <p>
                        'Sherlocked'  is fervent journey of relating the clues and solving a mystery. You are supposed to technically anaylse the case as a detective to reach to its crux. An abandoned backpack is discovered at Jojoba Park, while the man advancing to possess it vanishes into thin air without even picking it up as the police patrolling penetrates in. This develops into an series of events that lead to the criminal. 'Sherlocked' Exilerating event that keeps you on the edge of your seats the whole time. So, hop into the ride of 'Sherlocked' and to find what lies forth and track the crime that was once concealed !

                    </p>
                </div>
                </div>
                </div>
            </div>
            


    </div>
    

    
    <script src="{% static "js/jquery.js"%}"></script>

    
    <script src="{% static "js/bootstrap.min.js"%}"></script>

</body>

</html>
