<!DOCTYPE html>
<html>
<head>
	<title>Sherlocked | Home</title>
	<link rel="stylesheet" href="/static/assets/css/materialize.min.css">
	<link rel="stylesheet" href="/static/assets/css/base.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="/static/js/flipclock/flipclock.min.js"></script>
		<link rel="stylesheet" href="/static/css/flipclock.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/flipclock.js"></script>
    <link rel="stylesheet" href="/static/css/flipclock.css">
</head>
<body class="white-text" style="background-image:url('/static/assets/q6.jpg');">

<div class="container">
{% if q %}
<div class="col s12 ques-block">
	<span class="ques"> <quote>{{ q.Description }}</quote></span>
<form class="form-horizontal" method="post" action="/submit">
		{% csrf_token %}
		<div class="col-md-3">
		  <input id="answer" name="answer" type="text" placeholder="Enter the answer" class="form-control input-md" required="">
		  </div>
		<a class="waves-effect waves-light btn black-text lighten-4  white">Got it!</a>		
	</form>

</div>
{% endif %}
{% if wt %}
<div style="margin: 10% 10%">		
	<div class="clock"></div></div>
	<h2>Wait Message: {{ waitmsg }}</h2> 
	<script type="text/javascript">
	var clock = $('.clock').FlipClock({{ wt }}, {
		countdown: true
	});
</script>
{% endif %}
</div>



<script src="/static/assets/js/materialize.min.js"></script>
</body>
</html>