  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sherlocked</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
      .form-control,.form-control:focus,.btn{
        border-radius:0;
        box-shadow:none;
      }
      input.form-control{
        margin: 0;
      }
      label{
        font-weight:300;
      }
      .mainContainer{
        background-color: #fff;
        box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.3);
        margin:auto;
        margin-top:2%;
        padding:3% 20px;
        max-width:450px;
        width:100%;
        border-radius:2px;
      }
      .mainContainer h1{
        font-size:2em;
        margin-top:0;
      }
      .btn{
        background:#34495E;
        border:0;
        display:block;
        width:100%;
        max-width:200px;
        margin:auto;
      }
      body{
        background:#fff;
      }
    </style>
  <link rel="stylesheet" href="/static/assets/css/base.css">
  </head>
  <body class="white-text" style="background-image:url('/static/assets/q6.jpg');">
<!--   <header class="center-align">
  <a class="waves-effect waves-light btn orange darken-3 white-text" href="/leaderboard">Leaderboard</a>
  <a class="waves-effect waves-light btn orange darken-3 white-text" href="/description">Rules</a>
  <a class="waves-effect waves-light btn orange darken-3 white-text" href="/mystery">Solve Mystery</a>
  <a class="waves-effect waves-light btn orange darken-3 white-text" href="/logout">Logout</a>
</header> -->

    <section class="container-fluid">
      <div class="mainContainer" style="opacity:0.9;">
        <h1 class="text-center">Registration Form</h1>
        <form role="form" method="post" action="" id="resiterform">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="College Registration No." class="form-control input-md" required>
          </div>
            <div class="form-group">
            <label class="control-label" for="firstname">Name</label>
            <input id="firstname" name="firstname" type="text" placeholder="As on college ID Card" class="form-control input-md" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="email">Your Email Id</label>  
            <input id="email" name="email" type="text" placeholder="email-id" class="form-control input-md" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="phno">Phone Number</label>  
            <input id="phno" name="phno" type="text" placeholder="phno" class="form-control input-md" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="college">College</label>  
            <input id="college" name="college" type="text" placeholder="College Name" class="form-control input-md" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password"  class="form-control input-md" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="repeatpassword">Repeat Password</label>
            <input id="repeatpassword" name="repeatpassword" type="password" placeholder="Password Again" pattern=".{6,}" class="form-control input-md" required onkeyup="checkPass(); return false;">
          </div>
          <span id="confirmMessage" class="confirmMessage"></span>
          <div class="form-group">
            <input type="submit" id="submitBtn" name="submitBtn" class="btn btn-primary" value="Register" >
          </div>
        </form> 
      </div>
    </section>
    <script type="text/javascript">
function checkPass()
{
    //Store the password field objects into variables ...
    var pass1 = document.getElementById('password');
    var pass2 = document.getElementById('repeatpassword');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
}  
    </script>
  </body>
  </html>