{% static load %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sherlocked'16</title>
    <link rel="stylesheet" type="text/css" href="css/style_back5.css">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sherlocked</a>
            </div>
            <!-- Top Menu Items -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-th-list"></i> Questions </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Leaderboard </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-edit"></i> Description </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-list"></i> Rules </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-facebook"></i> Forum </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
        </nav>
<br><br><br><br><br><br><br><br><br><br>
<br><br>

            <div class="container-fluid">
            <div class="row">
            <div class="col-md-7 col-md-offset-1">
               <ul class="rules">
                <li>This is a 3-day event.</li>
                <li>You are supposed to solve the questions on the basis of the hints given in the question.</li>
                <li>After Each question there will be time gap at the end of which you are led to the next question.</li>
                <li>The person who solves the highest number of questions at the end of the given timeframe will be declared as the winner.</li>
                <li>All the queries regarding the event must be asked on the forum.</li>
               </ul>
               </div>
            </div>
            </div>
            <!-- /.container-fluid -->


    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
