body{
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.ques-block{
	background:#fcfcfc;
	opacity:0.9;
	color:#666;
	font-size:2.4em;
	margin:0 1em;
	font-weight: 300;

}

input{
	color:#666;
	font-size:2.4em;
	padding:1.2em;
	margin:1.2em;
	font-weight: 500;
	border-top:1px solid #9e9e9e !important;
}

.ques-block a{
	font-size: 0.8em;
}

#winner {
	padding-top: 40%;
	font-size: 3.8em;
	margin-top:40% !important;

}

#leader{
	font-size: 24px !important;
	overflow: auto;
}

.clock{
	margin: 0 20%;
}